html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: black;
}

body {
	background: #4e4b4b;
}

/* HUD */
.panel {
	position: absolute;
}

@font-face {
	font-family: "Roboto-Black";
	src: url("./fonts/Roboto-Black.ttf");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("./fonts/Roboto-Regular.ttf");
}

#hud,
#welcome,
#mobile {
	font-family: "Roboto-Light";
	left: 15%;
	top: 15%;
	width: 70%;
	height: 50%;
	padding-left: 5%;
	padding-right: 1%;
	background: rgba(0.25, 0.25, 0.25, 0.75);
	z-index: 1;
	color: white;
	border-radius: 20px;
}

#hud h1 {
	font-size: 50px;
	text-align: center;
}

#hud p {
	font-size: 25px;
	text-align: justify;
}

#welcome {
	background: rgba(0.25, 0.25, 0.25, 0.75);
}
#welcome h1 {
	text-align: center;
}
#welcome p {
	font-size: 20px;
	text-align: justify;
}

.startButton {
	background-color: #008cba;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

@media (min-width: 768px) {
	#mobile {
		left: 25%;
		width: 50%;
		height: 30%;
	}
}

@media (min-width: 1200px) {
	#welcome {
		left: 30%;
		width: 40%;
	}
}
